{% extends 'base.html' %}
{% load static %}

{% block spadof %} {% endblock spadof %}

{% block later %}
<!-- Page  -->
<section class="blog-page pb-0 spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      {% for review in review %}
        <!-- blog post -->
        <div class="blog-post">
          <h3>{{ review.title }}</h3>
          <div class="blog-metas">
            <div class="blog-meta author">
              <div class="post-author set-bg" data-setbg="{% static 'img/authors/1.jpg' %}"></div>
              <a href="#">{{ review.user.username }}</a>
            </div>

            <div class="blog-meta">
              <a href="#">{{ review.date }}</a>
            </div>
            {% if user.is_authenticated %}
            {% if user == review.user %}
            <div class="blog-meta">
              <a href="{% url 'review:edit' review.id %}">Edit</a>
            </div>
            <div class="blog-meta">
              <a href="{% url 'review:delete' review.id %}">Delete</a>
            </div>
            {% endif %}
            {% endif %}
          </div>
          <p>{{ review.description }}</p>
          <a href="#" class="site-btn readmore">Read More</a>
        </div>
      {% endfor %}
        <div class="site-pagination">
          <span class="active">01.</span>
          <a href="#">02.</a>
          <a href="#">03</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Page end -->

<section class="blog-page pb-0">
  <div class="container spad">
    {% if user.is_authenticated %}
    </br><h3 class="sb-w-title">Write a review :</h3></br>
    <form method="POST" class="signup-form form-horizontal" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="site-btn">Save</button>
    </form>
      </div>
    {% endif %}
    {% if not user.is_authenticated %}
      <div class="text-center pt-5 spad">
        For writing a review - <a href="{% url 'account_signup' %}" class="site-btn">Register Now</a>
      </div>
    {% endif %}
  </div>
</section>

{% endblock %}
{% block registerNow %}
{% endblock %}
