{% extends 'base.html' %}
{% load static %}

{% block spadof %} {% endblock spadof %}

{% block later %}
<!-- Page  -->
<section class="blog-page pb-0 spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      {% for review in reviews %}
        <!-- blog post -->
        <div class="blog-post">
          <h3>{{ review.title }}</h3>
          <div class="blog-metas">
            <div class="blog-meta author">
              <div class="post-author set-bg" data-setbg="{% static 'img/authors/1.jpg' %}"></div>
              <a href="#">{{ review.user.username }}</a>
            </div>

            <div class="blog-meta">
              <a href="#">{{ review.date }}</a>
            </div>
            {% if user.is_authenticated %}
            {% if user == review.user %}
            <div class="blog-meta">
              <a href="{% url 'review:edit' review.id %}">Edit</a>
            </div>
            <div class="blog-meta">
              <a href="{% url 'review:delete' review.id %}">Delete</a>
            </div>
            {% endif %}
            {% endif %}
          </div>
          <p>{{ review.description |safe|truncatewords:"100"|linebreaks }}</p>
          <a href="{% url 'review:readmore' review.id %}" class="site-btn readmore">Read More</a>
        </div>
      {% endfor %}

        <nav aria-label="Page navigation example">
          {% if reviews.has_other_pages %}
            <ul class="pagination justify-content-center site-pagination">

               {% if reviews.has_previous %}
                   <li class="page-item" >
                       <a class="page-link" tabindex="-1" href="?page={{ reviews.previous_page_number }}">&laquo;</a>
                   </li>
               {% else %}
                   <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                   </li>
               {% endif %}

               {% for i in reviews.paginator.page_range %}
                  {% if reviews.number == i %}
                    <!-- <li class="page-item active"><span>{{ i }}  <span class="sr-only">(current)</span></span></li> -->
                    <li class="page-item" >
                        <a class="page-link" href="?page={{ i }}"> <span class="active">{{ i }}</span></a>
                    </li>
                  {% else %}
                    <li class="page-item"><a class="page-link" tabindex="-1" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
               {% endfor %}


               {% if reviews.has_next %}
                    <li class="page-item"><a class="page-link" tabindex="-1" href="?page={{ reviews.next_page_number }}">&raquo;</a></li>
               {% else %}
                    <li class="page-item disabled">
                         <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                    </li>
               {% endif %}

            </ul>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
</section>


<!-- Page end -->

<section class="blog-page pb-0">
  <div class="container spad">
    {% if user.is_authenticated %}
    </br><h3 class="sb-w-title">Write a review :</h3></br>
    <form method="POST" class="signup-form form-horizontal" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="site-btn">Save</button>
    </form>
      </div>
    {% endif %}
    {% if not user.is_authenticated %}
      <div class="text-center pt-5 spad">
        For writing a review - <a href="{% url 'account_signup' %}" class="site-btn">Register Now</a>
      </div>
    {% endif %}
  </div>
</section>

{% endblock %}
{% block registerNow %}
{% endblock %}
