{% extends 'abstractbase.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% block pageStyle %}
<style>
html,body{
  margin: 0;
  height: 100%;
}
#c{
  width: 100%;
  height: 100%;
  display: block;
}
</style>
{% endblock pageStyle %}
{% block animation %}
<canvas id="c"></canvas>
{% endblock %}
{% block javascript %}{% endblock javascript %}
{% block pageSpecificJavascript %}
<script type="module">
import * as THREE from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/build/three.module.js';
function main(){
  const canvas = document.querySelector('#c');
  const renderer = new THREE.WebGLRenderer({canvas});

  const camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );
  camera.position.set(0, 30, 0);
  camera.up.set(0, 0, 1);
  camera.lookAt(0, 0, 0);

  const scene = new THREE.Scene();
  {
    const color = 0xFFFFFF;
    const intensity = 1;
    const light1 = new THREE.DirectionalLight(color, intensity);
    const light2= new THREE.DirectionalLight(color, intensity);
    const light3 = new THREE.DirectionalLight(color, intensity);
    const light4 = new THREE.DirectionalLight(color, intensity);
    light1.position.set(0, 8, 0);
    light2.position.set(0, -8, 0);
    light3.position.set(0, 0, 8);
    light4.position.set(8, 0, 0);
    scene.add(light1, light2, light3, light4);
  }




  const width = 8;


  const height = 8;


  const depth = 8;


  const geometry = new THREE.BoxBufferGeometry(width, height, depth);






function makeInstance(geometry,color,x){
    const material = new THREE.MeshPhongMaterial({color});
    const cube = new THREE.Mesh(geometry, material);
    scene.add(cube);
    cube.position.x=x;
    return cube;
  }
  const cubes = [
    // makeInstance(geometry,0x44aa88,0),
    // makeInstance(geometry,0x8844aa,-8),
    makeInstance(geometry,0xaa8844,35),
  ]

  function resizeRendererToDisplaySize(renderer){
    const canvas = renderer.domElement;
    const pixelRatio = window.devicePixelRatio;
    const width = canvas.clientWidth * pixelRatio | 0;
    const height = canvas.clientHeight * pixelRatio | 0;
    const needResize = canvas.width !== width || canvas.height !== height;
    if(needResize){
      renderer.setSize(width,height,false);
    }
    return needResize;
  }
  function render(time) {
    time *= 0.001;

    if(resizeRendererToDisplaySize(renderer)){
      const canvas = renderer.domElement;
      camera.aspect = canvas.clientWidth / canvas.clientHeight;
      camera.updateProjectionMatrix();
    }
    cubes.forEach((cube,ndx)=>{
      const speed=1+ndx*1;
      cube.rotation.x = time*speed;
      // cube.rotation.y = time*speed;
      // cube.rotation.z = time*speed;
    });
    renderer.render(scene, camera)
    requestAnimationFrame(render);
  }

  requestAnimationFrame(render);
}
main();
</script>
{% endblock pageSpecificJavascript %}
