{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}
{% load static i18n %}

{% block content %}

	<!-- Page info end -->


	<!-- search section -->

	<!-- search section end -->

	<!-- Page  -->

	<section class="blog-page spad pb-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<!-- blog post -->
          {% block content2 %}
          {% endblock content2 %}
					<!-- blog post -->

					<div class="site-pagination">
						<span class="active">01.</span>
						<a href="#">02.</a>
						<a href="#">03</a>
					</div>
				</div>

          <div class="col-lg-3 col-md-5 col-sm-9 sidebar">
            <div class="sb-widget-item">
              <form class="search-widget">
                <input type="text" placeholder="Search">
                <button><i class="fa fa-search"></i></button>
              </form>
            </div>
            <div class="sb-widget-item">
              <h4 class="sb-w-title">Categories</h4>
              <ul>
                 {% for category in categori %}

                      <li> <a href="{% url 'blog:category-dao' category.pk %}"> {{ category.name }}</a></li>

                  {% endfor %}

              </ul>
            </div>
            <div class="sb-widget-item">
              <h4 class="sb-w-title">Archives</h4>
              <ul>
                <li><a href="#">February 2018</a></li>
                <li><a href="#">March 2018</a></li>
                <li><a href="#">April 2018</a></li>
                <li><a href="#">May 2018</a></li>
                <li><a href="#">June 2018</a></li>
              </ul>
            </div>
            <div class="sb-widget-item">
              <h4 class="sb-w-title">Tags</h4>
						{% for page in posts %}
                <div class="tags">
                  {% for tag in page.tags.all %}
                  <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}
                  </a>
                    {% endfor %}
                    </div>
              {% endfor %}
            </div>
            <div class="sb-widget-item">
              <div class="add">
                <a href="#"><img src="{% static 'img/add.jpg' %}" alt=""></a>
              </div>
            </div>
          </div>
		<!--ekhane-->
			</div>
		</div>
	</section>
	<!-- Page end -->


	<!-- banner section -->
	
  {% endblock %}
	<!-- banner section end -->
