/* path {
  stroke: white;
  stroke-width: 0.25px;
  fill: #69b3a2;
}

path:hover {
  fill: red;
}

.hidden {
  display: none;
}

div.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
} */
body {
  background: rgba(254,241,210, 0.3)
}

.base{
  position: absolute;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#svg_map {
  /* background: rgba(215,248,255,.8) */
  background-color: #fff;
}

.countries {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
}
.caption {
    fill: #000;
    text-anchor: start;
    font-weight: bold;
}
