{% extends "abstractbase.html" %}
{% load static i18n %}

{% block base %}

      <!-- Header section -->
      <header class="header-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <div class="site-logo">
                <a href="{% url 'home' %}">
                  <img src="{% static 'img/logo.png' %}" alt="">
                </a>
              </div>
              <div class="nav-switch">
                <i class="fa fa-bars"></i>
              </div>
            </div>
            <div class="col-lg-9 col-md-9">
              <nav class="main-menu">
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About us</a></li>
                  <li><a href="#">Courses</a></li>
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'users:detail' request.user.username %}">Profile</a></li>
                  {% endif %}
                  <li><a href="{% url 'three:three' %}">Animation</a></li>
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'account_logout' %}" class="site-btn header-btn pb-3">LogOut</a></li>
                  {% else %}
                    <li><a href="{% url 'account_login' %}" class="site-btn header-btn pb-3">Login</a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <!-- Header section end -->

    {% block navbar %}
      {% include 'navbar2.html' %}
    {% endblock %}

    <div class="container">

    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
      {% endfor %}
    {% endif %}


    {% block spadof %}
    <section class="spad">
      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}
    </section>
    {% endblock spadof %}

    </div> <!-- /container -->

    {% block later %}{% endblock later %}

    {% block modal %}{% endblock modal %}

    {% if not user.is_authenticated %}
      {% block registerNow %}
      <!-- banner section -->
      <section class="banner-section spad">
      	<div class="container">
      		<div class="section-title mb-0 pb-2">
      			<h2>Join Our Community Now!</h2>
      			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
      		</div>
      		<div class="text-center pt-5">
      			<a href="{% url 'account_signup' %}" class="site-btn">Register Now</a>
      		</div>
      	</div>
      </section>
      <!-- banner section end -->
      {% endblock %}
    {% endif %}

    {% include 'footer.html' %}

{% endblock %}
