{% load static i18n %}

<!-- Hero section -->
<section class="hero-section set-bg" data-setbg="{% static 'img/bg.jpg' %}">
  <div class="container">
    <div class="hero-text text-white">
      <h2>Rijal in Quran, means a man with courage to stand against the tide </h2>
      <p>Our humble attempt to create such man of valor and courage to stand against the huge corrupt tides in the world,
         stop it in its track and create a heroic reverse tide of clarity, equality,
        a tide against hunger, oppressions and much more with the help of knowledge.</p>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <form class="intro-newslatter">
          <input type="text" placeholder="Name">
          <input type="text" class="last-s" placeholder="E-mail">
          <button class="site-btn">Sign Up Now</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Hero section end -->
