{% extends "base.html" %}
{% load static %}

{% block spadof %} {% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block later %}

  <!-- course section -->
	<section class="course-section spad">
    <div class="course-warp">
      <div class="container">
        <div class="section-title">
          <h2>Our Featured Works</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
        </div>
      </div>
			<ul class="course-filter controls pt-1">
				<li class="control active" data-filter="all">All</li>
        <li class="control" data-filter=".isnad">Isnad</li>
				<li class="control" data-filter=".chemistry">Chemistry</li>
        <li class="control" data-filter=".physics">Physics</li>
        <li class="control" data-filter=".map">Maps</li>
				<li class="control" data-filter=".animation">Animations</li>
			</ul>
			<div class="row course-items-area">
<!-- .................... isnad   ............................. -->
        <!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 isnad">
          <div class="categorie-item">
            <div class="ci-thumb set-bg" data-setbg="{% static 'isnad/img/scholar.jpeg' %}"></div>
            <div class="ci-text">
              <a href="{% url 'isnad:igraph' %}">
                <h5> السند  </h5>
              </a>
              <p> Hadith text, translation  and interactive chain of narrators (isnad)  </p>
              <span>The chain of narration</span>
            </div>
          </div>
        </div>
        <!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 full isnad">
          <div class="categorie-item">
            <div class="ci-thumb set-bg" data-setbg="{% static 'isnad/img/scholar.jpeg' %}"></div>
            <div class="ci-text">
              <a href="{% url 'isnad:sgraph' %}">
                <h5>  علماء المسلمين   </h5>
              </a>
              <p> Authentic Inter-linked graph of Muslim Scholars </p>
              <span>Muslim Scholars</span>
            </div>
          </div>
        </div>
        <!-- categorie -->
<!-- .................... chemistry   ............................. -->
        <!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 chemistry">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'three/img/aliphatic-1.jpeg' %}"></div>
						<div class="ci-text">
              <a href="{% url 'three:aliphaticChart' %}">
                <h5>Aliphatic Chart</h5>
              </a>
							<p>Aliphatic Chart</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 chemistry">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'three/img/aromatic-1.png' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:aromaticChart' %}">
								<h5>Aromatic Chart</h5>
							</a>
							<p>Aromatic Chart</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 chemistry">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'three/img/PeriodicTable-2.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:periodic' %}">
								<h5>Periodic Table</h5>
							</a>
							<p>Periodic Table in many shape !!!</p>
							<span>Size: No siZe</span>
						</div>
					</div>
				</div>
        <!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 chemistry">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'chemistry/img/molecule-1.jpeg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'chemistry:molecule' %}">
								<h5>Molecules</h5>
							</a>
							<p>C</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 chemistry">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'three/img/formula-2.jpeg' %}"></div>
						<div class="ci-text">
              <a href="{% url 'three:equations' %}">
                <h5>Chemistry Equation</h5>
              </a>
							<p>Chemistry Equation Dummy</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 chemistry">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'three/img/PlotingEquation-1.jpeg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:desmos' %}">
								<h5>Ploting Equation</h5>
							</a>
							<p>Ploting Mathmatical Equation on Graph</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
<!-- .................... physics   ............................. -->
        <!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 physics">
          <div class="categorie-item">
            <div class="ci-thumb set-bg" data-setbg="{% static 'physics/img/game-1.png' %}"></div>
            <div class="ci-text">
              <a href="{% url 'physics:threed' %}">
                <h5>3d Game</h5>
              </a>
              <p>A Basic 3d Game of Unity</p>
              <span>Size: No</span>
            </div>
          </div>
        </div>
        <!-- categorie -->
<!-- .................... map   ............................. -->
        <!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 map">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static '/map/img/world-2.jpeg' %}"></div>
						<div class="ci-text">
              <a href="{% url 'map:firstMap' %}">
                <h5>First Map</h5>
              </a>
							<p>First Map</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
        <!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 map">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static '/map/img/bd-2.jpeg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'map:povertymap' %}">
								<h5>Poverty Map</h5>
							</a>
							<p>Map of Bangladesh with poverty data</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 map">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static '/map/img/bd-1.png' %}"></div>
						<div class="ci-text">
							<a href="{% url 'map:mapSlider' %}">
								<h5>Map with Slider</h5>
							</a>
							<p>Map with Slider</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
<!-- .................... animation   ............................. -->
        <!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 animation">
          <div class="categorie-item">
            <div class="ci-thumb set-bg" data-setbg="{% static 'three/img/tank-1.png' %}"></div>
            <div class="ci-text">
              <a href="{% url 'three:experimentTank' %}">
                <h5>A Small Park</h5>
              </a>
              <p>Experimenting on the scenegraph.</p>
              <span>Size: Unknown</span>
            </div>
          </div>
        </div>
        <!-- categorie -->
        <div class="mix col-lg-3 col-md-4 col-sm-6 animation">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static '/chemistry/img/helicopter-3.png' %}"></div>
						<div class="ci-text">
							<a href="{% url 'chemistry:tank' %}">
								<h5>Helicopter</h5>
							</a>
							<p>A Helicopter is playing by itself...</p>
							<span>Size: bad de pm</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
<!-- ....................     ............................. -->


			</div>
		</div>
	</section>
	<!-- course section end -->


  {% if user.is_authenticated %}
    <section class="spad"></section>
  {% endif %}

{% endblock later %}
