{% extends 'base.html' %}
{% load static %}

{% block spadof %} {% endblock %}

{% block navbar %}
	{% include 'navbar3.html' %}
{% endblock %}

{% block later %}

<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Our Animations</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/1.jpg' %}"></div>
						<div class="ci-text">
              <a href="{% url 'three:equations' %}">
                <h5>Chemistry Equation</h5>
              </a>
							<p>Chemistry Equation Dummy</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/2.jpg' %}"></div>
						<div class="ci-text">
              <a href="{% url 'three:aliphaticChart' %}">
                <h5>Aliphatic Chart</h5>
              </a>
							<p>Aliphatic Chart</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/2.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:periodic' %}">
								<h5>Periodic Table</h5>
							</a>
							<p>Periodic Table in many shape !!!</p>
							<span>Size: No siZe</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/4.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:aromaticChart' %}">
								<h5>Aromatic Chart</h5>
							</a>
							<p>Aromatic Chart</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/5.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:desmos' %}">
								<h5>Ploting Equation</h5>
							</a>
							<p>Ploting Mathmatical Equation on Graph</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/5.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:experimentTank' %}">
								<h5>A Small Park</h5>
							</a>
							<p>Experimenting on the scenegraph.</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/3.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:tankofnet' %}">
								<h5>Tank</h5>
							</a>
							<p>A tank is playing by itself...</p>
							<span>Size: bad de pm</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/6.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:guiexample' %}">
								<h5>Example of GUI.dat</h5>
							</a>
							<p>Testing with gui.dat</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/1.jpg' %}"></div>
						<div class="ci-text">
              <a href="{% url 'three:base' %}">
                <h5>Base</h5>
              </a>
							<p>A stepping stone to rise from</p>
							<span>Size: No siZe</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/3.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:alcohol' %}">
								<h5>Alcohol</h5>
							</a>
							<p>A Atom of Alcohol</p>
							<span>Size: bad de pm</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/4.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:molecules' %}">
								<h5>Molecules</h5>
							</a>
							<p>All molecules</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
			</div>
		</div>
	</section>
	<!-- categories section end -->
{% endblock later %}
