{% extends 'base.html' %}
{% load static %}

{% block spadof %}
{% endblock %}

{% block navbar %}
	{% include 'navbar3.html' %}
{% endblock %}

{% block later %}

<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Our Animations</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/1.jpg' %}"></div>
						<div class="ci-text">
              <a href="{% url 'three:hydrogen' %}">
                <h5>Hydrogen Atom</h5>
              </a>
							<p>1st atom of the periodic table</p>
							<span>Size: 120pm</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/2.jpg' %}"></div>
						<div class="ci-text">
              <a href="{% url 'three:experiment' %}">
                <h5>Experiment</h5>
              </a>
							<p>To Experiment views here as a test</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/3.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:tankofnet' %}">
								<h5>Tank</h5>
							</a>
							<p>A tank is playing by itself...</p>
							<span>Size: bad de pm</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/4.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:carbonDiOxide' %}">
								<h5>Carbon Di Oxide</h5>
							</a>
							<p>Carbon Di Oxide</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/5.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:experimentTank' %}">
								<h5>Experiment Tank</h5>
							</a>
							<p>Experimenting on the scenegraph.</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/6.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:guiexample' %}">
								<h5>Example of GUI.dat</h5>
							</a>
							<p>Testing with gui.dat</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/1.jpg' %}"></div>
						<div class="ci-text">
              <a href="{% url 'three:base' %}">
                <h5>Base</h5>
              </a>
							<p>A stepping stone to rise from</p>
							<span>Size: No siZe</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/2.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'three:texture' %}">
								<h5>Testing Texture</h5>
							</a>
							<p>Testing texture in some shape !!!</p>
							<span>Size: No siZe</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
			</div>
		</div>
	</section>
	<!-- categories section end -->
{% endblock later %}
