{% extends 'abstractbase.html' %}
{% load static %}
{% block css %}{% endblock css %}

{% block pageStyle %}
  <link rel="stylesheet" href="{% static 'three/css/animation.css' %}"/>
{% endblock pageStyle %}

{% block animation %}
  <div id="container"></div>
  <div id="back-button">
    <a style="text-decoration: none; color: #FFFFFF" href="{% url 'three:three' %}">Back</a>
  </div>
  <div id="menu"></div>
{% endblock %}

{% block javascript %}{% endblock javascript %}

{% block pageSpecificJavascript %}
<script type="module">
import * as THREE from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/build/three.module.js';
import {GUI} from 'https://threejsfundamentals.org/threejs/../3rdparty/dat.gui.module.js';
import {OrbitControls} from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/examples/jsm/controls/OrbitControls.js';
import {PDBLoader} from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/examples/jsm/loaders/PDBLoader.js';
import { CSS2DRenderer, CSS2DObject } from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/examples/jsm/renderers/CSS2DRenderer.js';
import {TrackballControls} from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/examples/jsm/controls/TrackballControls.js';

  var camera, scene, renderer, labelRenderer;
  var controls;
  const objects = [];

  var loader = new PDBLoader();
  var offset = new THREE.Vector3();

  init();

  const base = new THREE.Group();
  scene.add( base );

  const mol1 = '{% static 'chemistry/model/pdb/ch3ch2oh.pdb' %}'
  const place1 = new THREE.Group()
  base.add(place1)
  place1.position.y = 500;
  loadMolecule( mol1, place1, 'One' );

  const mol2 = '{% static 'chemistry/model/pdb/ch3ch2oh.pdb' %}'
  const place2 = new THREE.Group()
  base.add(place2)
  place2.position.x = -400
  loadMolecule( mol2, place2, 'Two' );

  const mol3 = '{% static 'chemistry/model/pdb/ch3ch2oh.pdb' %}'
  const place3 = new THREE.Group()
  base.add(place3)
  place3.position.x = 400
  loadMolecule( mol3, place3, 'Three' );

  drawArrow(place1, place2)
  drawArrow(place2, place3)
  drawArrow(place3, place1)
  animate();

  // init function
  {% include 'three/sceneCameraLight.html' %}

  function drawArrow(mol1, mol2) {
    var to = new THREE.Vector3();
    mol2.getWorldPosition(to);
    // console.log(to)
    var from = new THREE.Vector3();
    mol1.getWorldPosition(from);
    var direction = to.clone().sub(from);
    // console.log(from)
    var length = direction.length();
    var hex = 0x00AA00;
    var arrow = new THREE.ArrowHelper( direction.normalize(), from, length, hex );
    scene.add( arrow );
  }

  // var from = new THREE.Vector3( 200, 200, 200 );
  // var to = new THREE.Vector3( 0, 0, 0 );
  // var direction = to.clone().sub(from);
  // var length = direction.length();
  // var arrowHelper = new THREE.ArrowHelper(direction.normalize(), from, length, 0xff0000 );
  // scene.add( arrowHelper );

  // loadMolecule function
  {% include 'three/loadMolecule.html' %}

  // drawPlus function
  {% include 'three/drawPlus.html' %}

  // drawEqual function
  {% include 'three/drawEqual.html' %}

  // animation all
  {% include 'three/animate.html' %}


</script>
{% endblock pageSpecificJavascript %}
