{% extends 'abstractbase.html' %}
{% load static %}
{% block css %}{% endblock css %}

{% block pageStyle %}
  <link rel="stylesheet" href="{% static 'three/css/animation.css' %}"/>
{% endblock pageStyle %}

{% block animation %}
  <div id="container"></div>
  <div id="back-button">
    <a style="text-decoration: none; color: #FFFFFF" href="{% url 'three:three' %}">Back</a>
  </div>
  <div id="menu"></div>
{% endblock %}

{% block javascript %}{% endblock javascript %}

{% block pageSpecificJavascript %}
<script type="module">
import * as THREE from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/build/three.module.js';
import {GUI} from 'https://threejsfundamentals.org/threejs/../3rdparty/dat.gui.module.js';
import {OrbitControls} from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/examples/jsm/controls/OrbitControls.js';
import {PDBLoader} from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/examples/jsm/loaders/PDBLoader.js';
import { CSS2DRenderer, CSS2DObject } from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/examples/jsm/renderers/CSS2DRenderer.js';
import {TrackballControls} from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/examples/jsm/controls/TrackballControls.js';

  var camera, scene, renderer, labelRenderer
  var controls
  const objects = []
  const objects2 = [];
  const objects3 = [];
  let rotatate = false
  const distanceBetweenMol = 350
  const startingPointX = -1000
  const startingPointY = 500
  const distanceBetweenEqn = 600

  var loader = new PDBLoader()
  var offset = new THREE.Vector3()

  const initialCameraPosition = new THREE.Object3D()
  initialCameraPosition.position.z = 1500

  init(initialCameraPosition, menu);

  const startStopRotationButton = document.createElement( 'button' );
  startStopRotationButton.innerHTML = "Start/Stop rotating";
  menu.appendChild( startStopRotationButton );
  startStopRotationButton.addEventListener( 'click', generateStartStopRotationButtonCallback(), false );

  function generateStartStopRotationButtonCallback( url ) {
    return function () {
      rotatate = !rotatate
    }
  }

  const text = {% include "three/snippet/equations.json" %}
  const eqn = JSON.parse(JSON.stringify(text))

  const base = new THREE.Group();
  scene.add( base );

  let position = startingPointY;
  for(let i=0; i<eqn.equations.length; i++){

    const eqnBase = new THREE.Group();
    eqnBase.position.y = position
    position -= distanceBetweenEqn
    base.add( eqnBase );

    loadEquation( eqnBase, eqn.equations[i], distanceBetweenMol, startingPointX );
  }

  animate();

  // init function
  {% include 'three/snippet/sceneCameraLight.js' %}

  // loadEquation function
  {% include 'three/snippet/loadEquation.js' %}

  // loadMolecule function
  {% include 'three/snippet/loadMolecule.js' %}

  // drawPlus function
  {% include 'three/snippet/drawPlus.js' %}

  // drawEqual function
  {% include 'three/snippet/drawEqual.js' %}

  // animation all
  {% include 'three/snippet/animate.js' %}


</script>
{% endblock pageSpecificJavascript %}
