{% extends 'abstractbase.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% block pageStyle %}
<link rel="stylesheet" href="{% static 'three/css/animation.css' %}"/>
{% endblock pageStyle %}

{% block animation %}
<canvas id="c"></canvas>
<div id="back-button">
  <a style="text-decoration: none; color: #FFFFFF" href="{% url 'three:three' %}">Back</a>
</div>
{% endblock %}

{% block javascript %}{% endblock javascript %}

{% block pageSpecificJavascript %}
<script type="module">
import * as THREE from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/build/three.module.js';
import {GUI} from 'https://threejsfundamentals.org/threejs/../3rdparty/dat.gui.module.js';
import {OrbitControls} from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/examples/jsm/controls/OrbitControls.js';
import {PDBLoader} from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/examples/jsm/loaders/PDBLoader.js';
import { CSS2DRenderer, CSS2DObject } from 'https://threejsfundamentals.org/threejs/resources/threejs/r115/examples/jsm/renderers/CSS2DRenderer.js';


function main() {

  const canvas = document.querySelector('#c');
  const renderer = new THREE.WebGLRenderer({canvas});
  renderer.setClearColor(0xAAAAAA);
  renderer.shadowMap.enabled = true;
  const gui = new GUI();

  const fov = 70;
  const aspect = 2;  // the canvas default
  const near = 1;
  const far = 5000;
  const camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
  camera.position.z = 1000;
  camera.lookAt(0, 0, 0);

  const controls = new OrbitControls(camera, canvas);
  controls.target.set(0, 0, 0);
  controls.update();

  const scene = new THREE.Scene();

  var light = new THREE.DirectionalLight( 0xffffff, 0.8 );
	light.position.set( 1, 1, 1 );
	scene.add( light );

	var light = new THREE.DirectionalLight( 0xffffff, 0.5 );
	light.position.set( - 1, - 1, 1 );
	scene.add( light );

  const root = new THREE.Group();
	scene.add( root );

  const groundGeometry = new THREE.PlaneBufferGeometry(50, 50);
  const groundMaterial = new THREE.MeshPhongMaterial({color: 0xCC8866});
  const groundMesh = new THREE.Mesh(groundGeometry, groundMaterial);
  groundMesh.rotation.x = Math.PI * -.5;
  groundMesh.receiveShadow = true;
  // scene.add(groundMesh);


  // Add your code here
  // instantiate a loader
  const loader = new PDBLoader();
  const offset = new THREE.Vector3();

  // load a PDB resource
  loader.load("{% static 'three/model/pdb/ch3ch2oh.pdb' %}",
  	// called when the resource is loaded
  	function ( pdb ) {

  		var geometryAtoms = pdb.geometryAtoms;
  		var geometryBonds = pdb.geometryBonds;
  		var json = pdb.json;

      var boxGeometry = new THREE.BoxBufferGeometry( 1, 1, 1 );
			var sphereGeometry = new THREE.IcosahedronBufferGeometry( 1, 2 );

      geometryAtoms.computeBoundingBox();
			geometryAtoms.boundingBox.getCenter( offset ).negate();

			geometryAtoms.translate( offset.x, offset.y, offset.z );
			geometryBonds.translate( offset.x, offset.y, offset.z );

			var positions = geometryAtoms.getAttribute( 'position' );
			var colors = geometryAtoms.getAttribute( 'color' );

			var position = new THREE.Vector3();
			var color = new THREE.Color();

      console.log(positions.count)

      for ( var i = 0; i < positions.count; i ++ ) {

				position.x = positions.getX( i );
				position.y = positions.getY( i );
				position.z = positions.getZ( i );

				color.r = colors.getX( i );
				color.g = colors.getY( i );
				color.b = colors.getZ( i );

				var material = new THREE.MeshPhongMaterial( { color: color } );

				var object = new THREE.Mesh( sphereGeometry, material );
				object.position.copy( position );
				object.position.multiplyScalar( 75 );
				object.scale.multiplyScalar( 25 );
				root.add( object );

				// var atom = json.atoms[ i ];
        //
				// var text = document.createElement( 'div' );
				// text.className = 'label';
				// text.style.color = 'rgb(' + atom[ 3 ][ 0 ] + ',' + atom[ 3 ][ 1 ] + ',' + atom[ 3 ][ 2 ] + ')';
				// text.textContent = atom[ 4 ];
        //
				// var label = new CSS2DObject( text );
				// label.position.copy( object.position );
				// root.add( label );
			}
      positions = geometryBonds.getAttribute( 'position' );
      // console.log(positions.count)
			var start = new THREE.Vector3();
			var end = new THREE.Vector3();

			for ( var i = 0; i < positions.count; i += 2 ) {
				start.x = positions.getX( i );
				start.y = positions.getY( i );
				start.z = positions.getZ( i );

				end.x = positions.getX( i + 1 );
				end.y = positions.getY( i + 1 );
				end.z = positions.getZ( i + 1 );

				start.multiplyScalar( 75 );
				end.multiplyScalar( 75 );

				var object = new THREE.Mesh( boxGeometry, new THREE.MeshPhongMaterial( 0xffffff ) );
				object.position.copy( start );
				object.position.lerp( end, 0.5 );
				object.scale.set( 5, 5, start.distanceTo( end ) );
				object.lookAt( end );
				root.add( object );
			}
  		// console.log( 'This molecule has ' + json.atoms.length + ' atoms' );
  	},
  	// called when loading is in progresses
  	function ( xhr ) {
  		console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
  	},
  	// called when loading has errors
  	function ( error ) {
  		console.log( 'An error happened' );
  	}
  )


  class AxisGridHelper {
    constructor(node, units = 10) {
      const axes = new THREE.AxesHelper();
      axes.material.depthTest = false;
      axes.renderOrder = 2;  // after the grid
      node.add(axes);

      const grid = new THREE.GridHelper(units, units);
      grid.material.depthTest = false;
      grid.renderOrder = 1;
      node.add(grid);

      this.grid = grid;
      this.axes = axes;
      this.visible = false;
    }
    get visible() {
      return this._visible;
    }
    set visible(v) {
      this._visible = v;
      this.grid.visible = v;
      this.axes.visible = v;
    }
  }

  function makeAxisGrid(node, label, units) {
    const helper = new AxisGridHelper(node, units);
    gui.add(helper, 'visible').name(label);
  }

  // makeAxisGrid(tank, 'car', 20);
  // makeAxisGrid(wheelMeshes[3], 'One Wheel');

  function resizeRendererToDisplaySize(renderer) {
    const canvas = renderer.domElement;
    const width = canvas.clientWidth;
    const height = canvas.clientHeight;
    const needResize = canvas.width !== width || canvas.height !== height;
    if (needResize) {
      renderer.setSize(width, height, false);
    }
    return needResize;
  }
  function render(time) {
    time *= 0.001;
    if (resizeRendererToDisplaySize(renderer)) {
      const canvas = renderer.domElement;
      camera.aspect = canvas.clientWidth / canvas.clientHeight;
      camera.updateProjectionMatrix();
    }
    renderer.render(scene, camera);
    requestAnimationFrame(render);
  }
  requestAnimationFrame(render);
}

main();

</script>
{% endblock pageSpecificJavascript %}
