{% extends 'abstractbase.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% block pageStyle %}
<style>
  body { margin: 0; }
  canvas { display: block; }
</style>
<script>
    var static_path = '{% static "@polymer/polymer/" %}';
</script>
{% endblock pageStyle %}
{% block javascript %}{% endblock javascript %}
{% block pageSpecificJavascript %}
<script>
    var static_path = '{% static "@polymer/polymer/" %}';
</script>
  <!-- <script type="module" src="{% static 'js/three.js' %}"></script> -->
  <script type="module">
   import * as THREE from '{% static 'js/three.module.js' %}';
  // import { * as THREE } from "{% static 'js/three.js' %}";
  // import {GUI} from '{% static 'js/dat.gui.module.js' %}';
  const scene = new THREE.Scene();
  const camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );

  const renderer = new THREE.WebGLRenderer();
  renderer.setSize( window.innerWidth, window.innerHeight, false );
  document.body.appendChild( renderer.domElement );

  const color = 0xFFFFFF;
  const intensity = 1;
  const light1 = new THREE.DirectionalLight(color, intensity);
  const light2= new THREE.DirectionalLight(color, intensity);
  const light3 = new THREE.DirectionalLight(color, intensity);
  light1.position.set(0, 8, 0);
  light2.position.set(0, -8, 0);
  light3.position.set(0, 0, 8);
  scene.add(light1, light2, light3);

  camera.position.z = 8;

  const radius =  1.2;
  const detail = 2;
  const geometrys = new THREE.DodecahedronBufferGeometry(radius, detail);

  const material = new THREE.MeshPhongMaterial({color:0xcc1122});
  const sphere = new THREE.Mesh(geometrys, material);
  scene.add(sphere);

  let animate = function () {
    requestAnimationFrame( animate );
    sphere.rotation.x += 0.1;
    renderer.render( scene, camera );
  };
  animate();
</script>
{% endblock pageSpecificJavascript %}
