{% extends 'abstractbase.html' %}
{% load static %}

{% block pageStyle %}
<style>
  body { margin: 0; }
  canvas { display: block; }
</style>
{% endblock pageStyle %}

{% block pageSpecificJavascript %}
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/58/three.min.js" integrity="sha256-QJSG8BV0Pn4JD8zWKHmxyShXXywgZXg1vsmO/o7PFjA=" crossorigin="anonymous"></script> -->
  <script type="text/javascript" src="{% static 'js/three.js' %}"></script>
  <script type="text/javascript" src="{% static 'three/js/animation.js' %}"></script>
{% endblock pageSpecificJavascript %}
