{% load static %}
<head>
  <style> body { margin: 0; } </style>

  <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/babel-standalone"></script>

  <script src="https://unpkg.com/three"></script>
  <script src="https://unpkg.com/three-spritetext"></script>

  <script src="https://unpkg.com/react-force-graph-3d"></script>
  <!--<script src="../../src/packages/react-force-graph-3d/dist/react-force-graph-3d.js"></script>-->
</head>

<body>
  <div id="graph"></div>

  <script type="text/jsx">
    fetch('{% static 'isnad/datasets/miserables.json' %}').then(res => res.json()).then(data => {
      ReactDOM.render(
        <ForceGraph3D
          graphData={data}
          nodeAutoColorBy="group"
          nodeThreeObject={node => {
            const sprite = new SpriteText(node.id);
            sprite.color = node.color;
            sprite.textHeight = 8;
            return sprite;
          }}
        />,
        document.getElementById('graph')
      );
    });
  </script>
</body>
