{% load static %}
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
  <form ng-app="myApp" ng-controller="myCtrl">
      Select Hadith:
      <select id="mySelect" ng-model="selectedName" ng-options="x for x in names"> </select>
      <input type="text" id="myText" value="1">
      <br><br>
      <input type="button" onclick="getOption()" value="Click Me!">
  </form>
  <section id='chart'></section>
<svg id='viz'></svg>
<iframe id="myFrame" width="1300" height="700" src="{% static 'isnad/img/hadithbd.png' %}"></iframe>

</body>

<script src='https://d3js.org/d3.v5.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
<script>
//.........
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
  $scope.names = ["Sahih Bukhari", "Sahih Muslim", "Sunan Abi Da'ud", "Jami' al-Tirmidhi", "Sunan an-Nasa'i", "Sunan Ibn Majah"];
});
//.........
//.................
function getOption() {
//.............
// config references
var chartConfig = {
    target : 'chart',
    data_url : '{% static 'isnad/datasets/some_hadiths.json' %}',
    width: 900,
    height: 450,
    val: 90
};

// loader settings
var opts = {
  lines: 9, // The number of lines to draw
  length: 9, // The length of each line
  width: 5, // The line thickness
  radius: 14, // The radius of the inner circle
  color: '#EE3124', // #rgb or #rrggbb or array of colors
  speed: 1.9, // Rounds per second
  trail: 40, // Afterglow percentage
  className: 'spinner', // The CSS class to assign to the spinner
};

var target = document.getElementById(chartConfig.target);

// callback function wrapped for loader in 'init' function
// trigger loader
var spinner = new Spinner(opts).spin(target);

// slow the json load intentionally, so we can see it every load
setTimeout(function() {

//............

  //document.getElementById("viz").contentWindow.location.reload(true);
  //svg.selectAll("*").remove();
  var obj = document.getElementById("mySelect");
  var book= obj.options[obj.selectedIndex].text;

  var x = document.getElementById("myText").value;

var b=12;
if (book =="Sahih Bukhari") b = 12;
else if(book =="Sahih Muslim") b = 22;
else if(book =="Sunan Abi Da'ud") b = 25;
else if(book =="Jami' al-Tirmidhi") b = 19;
else if(book =="Sunan an-Nasa'i") b = 6;
else if(book =="Sunan Ibn Majah") b = 9;

 document.getElementById("myFrame").src = "https://www.hadithbd.com/hadith/filter/?book="+b+"&hadith="+x;
//}
//....
var width = 1400;
var height = 600;
var color = d3.scaleOrdinal(d3.schemeCategory10);
d3.json("{% static 'isnad/datasets/some_hadiths.json' %}").then(function(graph) {

  var start=0,end=20;
   graph.nodes = graph.nodes.filter( function(d){return  (d.level==4 && d.hadith_no==x && d.book==book ) || (d.level== 5 && d.list.includes(x))   } )
   graph.links = graph.links.filter( function(d){return  d.book==book && d.hadith_no==x && d.level!=4  } )

   // stop spin.js loader
   spinner.stop(); //

var label = {
    'nodes': [],
    'links': []
};

graph.nodes.forEach(function(d, i) {
    label.nodes.push({node: d});
    label.nodes.push({node: d});
    label.links.push({
        source: i * 2,
        target: i * 2 + 1
    });
});

var labelLayout = d3.forceSimulation(label.nodes)
    .force("charge", d3.forceManyBody().strength(-50))
    .force("link", d3.forceLink(label.links).distance(0).strength(2));

var graphLayout = d3.forceSimulation(graph.nodes)
    .force("charge", d3.forceManyBody().strength(-3000))
    .force("center", d3.forceCenter(width / 2, height / 2))
    .force("x", d3.forceX(width / 2).strength(1))
    .force("y", d3.forceY(height / 2).strength(1))
    .force("link", d3.forceLink(graph.links).id(function(d) {return d.id; }).distance(150).strength(1))
    .on("tick", ticked);

var adjlist = [];

graph.links.forEach(function(d) {
    adjlist[d.source.index + "-" + d.target.index] = true;
    adjlist[d.target.index + "-" + d.source.index] = true;
});

function neigh(a, b) {
    return a == b || adjlist[a + "-" + b];
}

var svg = d3.select("#viz").attr("width", width).attr("height", height);
var container = svg.append("g");

svg.call(
    d3.zoom()
        .scaleExtent([.1, 4])
        .on("zoom", function() { container.attr("transform", d3.event.transform); })
);
//.........
 svg.append("defs").selectAll("marker")
    .data(["suit", "licensing", "resolved"])
    .enter().append("marker")
    .attr("id", function(d) { return d; })
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 25)
    .attr("refY", 0)
    .attr("markerWidth", 6)
    .attr("markerHeight", 6)
    .attr("orient", "auto")
  .append("path")
    .attr("d", "M0,-5L10,0L0,5 L10,0 L0, -5")
    .style("stroke", "#4679BD")
    .style("opacity", "1");

//Create all the line svgs but without locations yet
var link = container.selectAll(".link")
    .data(graph.links)
    .enter()
    .append("line")
    .data(graph.links)
    .attr("stroke", "#aaa")
    .attr("stroke-width", "1px")
    .attr("class", "link")
    .style("marker-end",  "url(#suit)") // Modified line
//..........
// var link = container.append("g")
//     .attr("class", "links")
//     .selectAll("line")
//     .data(graph.links)
//     .enter()
//     .append("line")
//     .attr("stroke", "#aaa")
//     .attr("stroke-width", "1px");

var node = container.append("g").attr("class", "nodes")
    .selectAll("g")
    .data(graph.nodes)
    .enter()
    .append("circle")
    .attr("r", 13)
    .attr("fill", function(d) { return color(d.group); })

node.on("mouseover", focus).on("mouseout", unfocus);

node.call(
    d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended)
);

var labelNode = container.append("g").attr("class", "labelNodes")
    .selectAll("text")
    .data(label.nodes)
    .enter()
    .append("text")
    .text(function(d, i) { return i % 2 == 0 ? "" : d.node.name; })   // level text
    .style("fill", "#555")
    .style("font-family", "Arial")
    .style("font-size", 12)
    .style("opacity", 1)    //
    .style("pointer-events", "none"); // to prevent mouseover/drag capture

node.on("mouseover", focus).on("mouseout", unfocus);

function ticked() {

    node.call(updateNode);
    link.call(updateLink);

    labelLayout.alphaTarget(0.3).restart();
    labelNode.each(function(d, i) {
        if(i % 2 == 0) {
            d.x = d.node.x;
            d.y = d.node.y;
        } else {
            var b = this.getBBox();

            var diffX = d.x - d.node.x;
            var diffY = d.y - d.node.y;

            var dist = Math.sqrt(diffX * diffX + diffY * diffY);

            var shiftX = b.width * (diffX - dist) / (dist * 2);
            shiftX = Math.max(-b.width, Math.min(0, shiftX));
            var shiftY = 16;
            this.setAttribute("transform", "translate(" + shiftX + "," + shiftY + ")");
        }
    });
    labelNode.call(updateNode);

}

function fixna(x) {
    if (isFinite(x)) return x;
    return 0;
}

function focus(d) {
    var index = d3.select(d3.event.target).datum().index;
    node.style("opacity", function(o) {
        return neigh(index, o.index) ? 1 : 0.1;
    });
    link.style("opacity", function(o) {
        return o.source.index == index || o.target.index == index ? 1 : 0.1;
    });
    labelNode.attr("display", function(o) {
      return neigh(index, o.node.index) ? "block": "none";
    });
    labelNode.style("opacity", function(o) {     //.........
        return neigh(index, o.node.index) ? 1 : .9;
    });

}

function unfocus() {
   node.style("opacity", 1);
   link.style("opacity", 1);
   labelNode.attr("display", "block");
   labelNode.style("opacity", .5);   //............
}

function updateLink(link) {
    link.attr("x1", function(d) { return fixna(d.source.x); })
        .attr("y1", function(d) { return fixna(d.source.y); })
        .attr("x2", function(d) { return fixna(d.target.x); })
        .attr("y2", function(d) { return fixna(d.target.y); });
}

function updateNode(node) {
    node.attr("transform", function(d) {
        return "translate(" + fixna(d.x) + "," + fixna(d.y) + ")";
    });
}

function dragstarted(d) {
    d3.event.sourceEvent.stopPropagation();
    if (!d3.event.active) graphLayout.alphaTarget(0.3).restart();
    d.fx = d.x;
    d.fy = d.y;
}

function dragged(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
}

function dragended(d) {
    if (!d3.event.active) graphLayout.alphaTarget(0);
    d.fx = null;
    d.fy = null;
}

}); // d3.json

}, 1500);   //setTimeout


} //getOption
</script>
</html>
