{% extends 'base.html' %}
{% load static %}

{% block spadof %}
{% endblock %}

{% block navbar %}
	{% include 'navbar3.html' %}
{% endblock %}

{% block later %}

<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Our Isnad Graphs</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'isnad/img/scholar.jpeg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'isnad:sgraph' %}">
								<h5>  علماء المسلمين   </h5>
							</a>
							<p> Authentic Inter-linked graph of Muslim Scholars </p>
							<span>Muslim Scholars</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'isnad/img/scholar.jpeg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'isnad:igraph' %}">
								<h5> السند  </h5>
							</a>
							<p> Hadith text, translation  and interactive chain of narrators (isnad)  </p>
							<span>Sanad,the chain of narration</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/3.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'isnad:graph1' %}">
								<h5>graph1</h5>
							</a>
							<p>graph1</p>
							<span>Size: bad de pm</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/5.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'isnad:graph2' %}">
								<h5>graph2</h5>
							</a>
							<p>graph2</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/5.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'isnad:graph3' %}">
								<h5>VR mode: graph3</h5>
							</a>
							<p>for big graph</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/5.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'isnad:graph4' %}">
								<h5>graph4</h5>
							</a>
							<p>graph4</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/5.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'isnad:graph5' %}">
								<h5>graph5</h5>
							</a>
							<p>graph5</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/5.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'isnad:sload' %}">
								<h5>Load Scholars</h5>
							</a>
							<p>--Load scholar data to json file--</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/5.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'isnad:iload' %}">
								<h5>Load Isnad</h5>
							</a>
							<p>--Load Isnad data to json file--</p>
							<span>Size: Unknown</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
			</div>
		</div>
	</section>
	<!-- categories section end -->
{% endblock later %}
