{% extends 'abstractbase.html' %}
{% load static %}
{% block pageStyle %}
<link rel="stylesheet" href="{% static 'map/css/map.css' %}"/>
{% endblock pageStyle %}

{% block map %}

<div class="base">
  <svg id="svg_map" width="960" height="600"></svg>
  <div class="container pt-3">
    <h4>Map of Bangladesh</h4>
  </div>
</div>

{% endblock map %}

{% block pageSpecificJavascript %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script> -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>
<script src="https://unpkg.com/d3-simple-slider"></script>

<script type="module">

var projection = d3.geoMercator().scale(4000).translate([-5850, 2000])

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var path = d3.geoPath().projection(projection);

var g = svg.append("g");

// d3.json('https://raw.githubusercontent.com/techslides/D3-Maps/master/data/world/country/Bangladesh.topo.json', function(error, bangladesh) {
// d3.json('https://raw.githubusercontent.com/emon535/bangladesh-geojson/master/bangladesh.topo.json', function(error, bangladesh) {
d3.json("{% static  'map/json/bddistopo.json' %}", function(error, bangladesh) {
  console.log(bangladesh)
  // console.log(bangladesh.objects["bangladesh[1]"])
  var bangladesh = g.selectAll("path")
				.data(topojson.feature(bangladesh, bangladesh.objects.bddis).features)
				.enter()
				.append("path")
				.attr("d", path)
        .attr("fill", "green")
        .attr("stroke", "white")
        .attr("stroke-width", ".5px")

var popupData = [
  {"code":"DHA", "city":"DHAKA", "country":"BANGLADESH", "lat":23.777176, "lon":90.399452}
];

var popupProjectedData = []
for (let i=0;i<popupData.length;i++){
  var x = projection([popupData[i].lon, popupData[i].lat])[0]
  var y = projection([popupData[i].lon, popupData[i].lat])[1]
  popupProjectedData.push({"x":x, "y":y})
}
svg.append("circle")
.attr("cx", popupProjectedData[0].x)
.attr("cy", popupProjectedData[0].y)
.attr("r", 5)
.attr("fill", "yellow")
.append('title')
.text("Hello")

  function draw(d){
    console.log(d)
    var x = projection([d.lon, d.lat])[0]
    var y = projection([d.lon, d.lat])[1]
    console.log(x,y)
    g.selectAll("circle")
	       .data([{"x":x, "y":y}])
	       .enter()
	       .append("circle")
	       .attr("cx", function(d) {return d.x})
	       .attr("cy", function(d) {return d.y})
	       .attr("r", 5)
	       .style("fill", "red")
	       .style("opacity", 0.6)
  }
  draw(popupData[0])
});

</script>
{% endblock pageSpecificJavascript %}
