{% extends 'base.html' %}
{% load static %}

{% block spadof %} {% endblock %}

{% block navbar %}
	{% include 'navbar4.html' %}
{% endblock %}

{% block later %}

<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Our Maps</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static '/map/img/world-2.jpeg' %}"></div>
						<div class="ci-text">
              <a href="{% url 'map:firstMap' %}">
                <h5>First Map</h5>
              </a>
							<p>First Map</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static '/map/img/bd-2.jpeg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'map:bangladesh' %}">
								<h5>bangladesh Map</h5>
							</a>
							<p>bangladesh Map</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
				<!-- categorie -->								
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static '/map/img/bd-2.jpeg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'map:povertymap' %}">
								<h5>Poverty Map</h5>
							</a>
							<p>Map of Bangladesh with poverty data</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static '/map/img/bd-1.png' %}"></div>
						<div class="ci-text">
							<a href="{% url 'map:mapSlider' %}">
								<h5>Map with Slider</h5>
							</a>
							<p>Map with Slider</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'img/categories/3.jpg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'map:d3' %}">
								<h5>Various D3</h5>
							</a>
							<p>Various D3</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static '/map/img/bd-2.jpeg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'map:bdgeojson' %}">
								<h5>BD GeoJson</h5>
							</a>
							<p>Map of Bangladesh with GeoJson data</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static '/map/img/bd-2.jpeg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'map:markermap' %}">
								<h5>Map of BANGLADESH</h5>
							</a>
							<p>Map of BANGLADESH with many THing</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static '/map/img/world-2.jpeg' %}"></div>
						<div class="ci-text">
							<a href="{% url 'map:mymarker' %}">
								<h5>World Map with Marker</h5>
							</a>
							<p>World Map with Marker</p>
							<span>Size: No</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
			</div>
		</div>
	</section>
	<!-- categories section end -->
{% endblock later %}
