{% extends 'abstractbase.html' %}
{% load static %}
{% block pageStyle %}
<link rel="stylesheet" href="{% static 'map/css/map.css' %}"/>
{% endblock pageStyle %}

{% block map %}

<div class="base2">
  <svg id="svg_map2" width="960" height="600" viewBox="0 0 960 600"
  preserveAspectRatio="xMidYMid meet"></svg>

  <div class="container pt-3">
    <div class="row flex space-around">
      <div class="col-2 text-center my-5">
        <a href="#" id="prev" class="button round">&#8249;</a>
      </div>
      <div class="col-8">
        <div id="slider-time"></div>
      </div>
      <div class="col-2 text-center my-5">
        <a href="#" id="next" class="button round">&#8250;</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Map of Bangladesh</h4>
      </div>
      <div class="col">
        <label for="mySlider"
           style="display: inline-block; width: 240px; text-align: right">
           Radius = <span id="nRadius-value"> 10 </span>
        </label>
        <input type="range" name="mySlider" id=mySlider min="4" max="40" value="10">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h2 id="value-time"></h2>
      </div>
    </div>
  </div>
</div>

{% endblock map %}
{% block pageSpecificJavascript %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>
<script src="https://unpkg.com/d3-simple-slider"></script>

<script type="module">

var projection = d3.geoMercator().scale(4000).translate([-5850, 2000])

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height")

var path = d3.geoPath().projection(projection);

var Data, data2

var g = svg.append("g");
var g2 = svg.append("g");
var g3 = svg.append("g");
var g4 = svg.append("g");
var g5 = svg.append("g");
d3.queue()
    .defer(d3.json, "{% static  'map/json/bddistopo.json' %}")
    .defer(d3.json, "{% static  'map/json/gadm36_IND_1.json' %}")
    .defer(d3.json, "{% static  'map/json/gadm36_MMR_1.json' %}")
    .defer(d3.json, "{% static  'map/json/gadm36_BTN_1.json' %}")
    .defer(d3.json, "{% static  'map/json/gadm36_NPL_1.json' %}")
    .defer(d3.json, "{% static  'map/json/Eventdata.json' %}")
    .defer(d3.json, "{% static  'map/json/eventData.json' %}")
    .await(ready);

function ready(error, bangladesh, india, myanmar, bhutan, nepal, data, newData) {
  Data = data
  data2 = newData
  console.log(data2)

  g.selectAll("path")
      .attr("id", "bangla")
      .data(topojson.feature(bangladesh, bangladesh.objects.bddis).features)
      .enter()
      .append("path")
      .attr("d", path)
      .attr("fill", "#00A856")
      .attr("stroke", "white")
      .attr("stroke-width", ".5px")
      .append("title")
      .text(function(d) {return d.properties.NAME_2});

  g2.selectAll("path")
      .data(topojson.feature(india, india.objects.gadm36_IND_1).features)
      .enter()
      .append("path")
      .attr("d", path)
      .attr("fill", "#FFD0D0")
      .attr("stroke", "white")
      .attr("stroke-width", ".5px")

  g3.selectAll("path")
      .data(topojson.feature(myanmar, myanmar.objects.gadm36_MMR_1).features)
      .enter()
      .append("path")
      .attr("d", path)
      .attr("fill", "#BCAED9")
      .attr("stroke", "white")
      .attr("stroke-width", ".5px")

  g4.selectAll("path")
      .data(topojson.feature(bhutan, bhutan.objects.gadm36_BTN_1).features)
      .enter()
      .append("path")
      .attr("d", path)
      .attr("fill", "#E5CCE6")
      .attr("stroke", "white")
      .attr("stroke-width", ".5px")

  g5.selectAll("path")
      .data(topojson.feature(nepal, nepal.objects.gadm36_NPL_1).features)
      .enter()
      .append("path")
      .attr("d", path)
      .attr("fill", "#FFFBC3")
      .attr("stroke", "white")
      .attr("stroke-width", ".5px")

  newEvent(count)
}

var g6=svg.selectAll("g");

function rewrite(EventText){
  svg.selectAll("text").remove()
  svg.append('text').attr('y',40).attr('x',20).text("EVENT :")
  svg.append('text').attr('y',40).attr('x',90).text(EventText)
}

function draw(d){
  rewrite(d.event)
  var text = d.popupText
  var x = projection([d.lon, d.lat])[0]
  var y = projection([d.lon, d.lat])[1]

  g6.selectAll("circle")
      .data([{"x":x, "y":y, "text":text}])
      .enter()
      .append("circle")
      .attr("cx", function(d) {return d.x})
      .attr("cy", function(d) {return d.y})
      .attr("r", 10)
      .style("fill", "red")
      .style("opacity", 0.6)
      .append('title')
      .text(function(d) {return d.text});

  g6.append("defs")
      .append("pattern")
      .attr("id", "bg")
      .attr("width", 1)
      .attr("height", 1)
      .attr("patternUnits", "objectBoundingBox")
      .append("image")
      .attr("width", 100)
      .attr("height", 100)
      .attr("xlink:href", "{% static 'map/img/murgi.jpg' %}")

  g6.selectAll("rect")
      .data([{"x":x-50, "y":y-130}])
      .enter()
      .append("rect")
      .attr("x", function(d) {return d.x})
      .attr("y", function(d) {return d.y})
      .attr("width",100)
      .attr("height",100)
      .attr("fill", "url(#bg)")

  var x1=x;
  var y1=y - 10;
  var y2=y - 30;
  var y3=y - 30;
  var x2=x + 20;
  var x3=x - 20;
  var points=x1  + ' ' + y1 + ', ' + x2 + ' ' + y2 + ', ' + x3 + ' ' + y3 ;

  g6.append("polyline")       // attach a polygon
      .style("stroke", "black")  // colour the line
      .style("fill", "black")     // remove any fill colour
      .attr("points", points);

  var tx = width/2 - x
  var ty = height/2 - y
  g6.transition()
      .duration(750)
      .attr("transform", "translate(" + tx + "," + ty + ")");
}

function remove(){
  g6.selectAll("circle")
      .remove()
  g6.selectAll("rect")
      .remove()
  g6.selectAll("polyline")
      .remove()
}

let count = 0;
function newEvent(n){
  remove()
  draw(Data[n])
}

// Listen to the next button
d3.select("#next").on("click", function(){
  if(count+1 < Data.length){
    count++
    newEvent(count)
  }
  else{
    console.log("The last Event")
  }
})

// Listen to the prev button
d3.select("#prev").on("click", function(){
  if(count != 0){
    count--
    newEvent(count)
  }
  else{
    console.log("The first Event")
  }
})

// Listen to the slider
d3.select("#mySlider").on("change", function(d){
  d3.select("#nRadius-value").text(this.value)
  g6.selectAll("circle")
    .attr('r',this.value)
})

// slider code
  var dataTime = d3.range(0, 10).map(function(d) {
    return new Date(1995 + d, 10, 3);
  });

  // console.log(dataTime)

  var sliderTime = d3
    .sliderBottom()
    .min(d3.min(dataTime))
    .max(d3.max(dataTime))
    .step(1000 * 60 * 60 * 24 * 365)
    .width(300)
    .tickFormat(d3.timeFormat('%Y'))
    .tickValues(dataTime)
    .default(new Date(1998, 10, 3))
    .on('onchange', val => {
      d3.select('#value-time').text(d3.timeFormat('%Y')(val));
    });

  var gTime = d3
    .select('#slider-time')
    .append('svg')
    .attr('width', 500)
    .attr('height', 100)
    .append('g')
    .attr('transform', 'translate(30,30)');

  gTime.call(sliderTime);

  d3.select('#value-time').text(d3.timeFormat('%Y')(sliderTime.value()));
  // slider code end

//zoom and pan functionality
var zoom = d3.zoom()
            .scaleExtent([0.8, 2])
            .translateExtent([[-200, 0],[1000, 800]])
            .on("zoom",function() { g6.attr("transform", d3.event.transform)})
svg.call(zoom)

// console.log(svg._groups[0][0].children[0].children)

</script>

{% endblock pageSpecificJavascript %}
